@import "../../var";

.qa-container {
  p {
    font-size: 16px;
    line-height: 20px;
    width: 80%;
    margin: 0;
  }
}

.answers {
  border-bottom: 1px solid $primary-green;
  font-size: 14px;
  max-height: 1000px;
  line-height: 18px;
  overflow: hidden;
  transition: 0.4s;

  li {
    margin-bottom: 12px;
  }
}

.hidden-answers {
  max-height: 0;
  transition: 0.4s;
}

.arrow-down {
  transform: rotate(0);
  transition: 0.3s;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}
